.Navbar{
    height: 400px;
}
.Navbar{
    text-decoration: none;
    color: #000000;
    font-size: 22px;
}
.Navbar:hover{
    color:antiquewhite
}
.Title{
    text-decoration: none;
    color: #000000;
    font-size: 28px;
}
.Title:hover{
    color:antiquewhite
}
.shoppingCart{
    height: 55px;
    width: 60px;
    margin-left: 30px;
}